.trans{

    opacity: 0.6;
    background-color: #fff;
}
body{
    background: url('../green-back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cent{
    width:100%;
    display: inline-block;
    margin: auto;
    left: 0;
    right:0;
}
